[Unit]
Description=QOTDserverd
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/QOTDserverd.py
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
